.FeedItem-Body {
  grid-column: span 3;
  padding-bottom: 0.8rem;
  position: relative;
}

.FeedItem-ImageContainer {
  display: block;
}

.FeedItem-Image {
  position: relative;
  display: block;
  width: 100%;
}
