.Container_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 2.9rem;
}

@media (min-width: 361px) {
  .Container_grid {
    grid-column-gap: 1.6rem;
    grid-auto-flow: dense;
  }
}
