.FeedItem-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content auto;
  grid-gap: 0;
  position: relative;
  height: 100%;
  color: #000;
  text-decoration: none;
}

.FeedItem-ButtonGroup {
  position: relative;
}
