.FeedItem_type_text .FeedItem-Header {
  max-height: 4.05882353em;
}

.FeedItem_type_text .FeedItem-Footer {
  grid-template-rows: auto 3.8rem;
}

.FeedItem_type_text .FeedItem-DescriptionContainer {
  grid-column: span 12;
}

.FeedItem_type_text .FeedItem-Description {
  max-height: calc(12 * 1.43em);
}

.FeedItem_type_text .FeedItem-ChannelName {
  grid-column: span 6;
  padding-top: 0.8rem;
}

.FeedItem_type_text .FeedItem-ButtonGroup {
  grid-column: span 6;
  height: 3rem;
  padding-top: 0.8rem;
}

.FeedItem_type_text .FeedItem-Button_type_actions {
  bottom: 0.7rem;
  right: 4.5rem;
}

@media (min-width: 361px) {
  .FeedItem_type_text .FeedItem-DescriptionContainer {
    max-height: calc(3 * 1.43em);
  }

  .FeedItem_type_text .FeedItem-Description {
    max-height: calc(3 * 1.43em);
  }
}

@media (min-width: 576px) {
  .FeedItem_type_text .FeedItem-DescriptionContainer {
    max-height: initial;
  }
}
